{% load static %}
<div class="col" class="img-fluid">
    <div class="product-item">
        <div>
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" class="img-on-homepage">
            </a>
        </div>
        {% if product_image.product.discount %}
        <div class="discount-container">
            <span>-{{ product_image.product.discount }}%</span>
        </div>
        {% endif %}

        <h4> {{ product_image.product.name }} </h4>
        <p>{{ product_image.product.short_description|truncatechars_html:70 }}
        <!--Из модели Product выведет только описание и ограничит его 70 символами-->
        </p>
        <div>
            <div class="add-to-cart-btn" >
                <b>{{ product_image.product.price }} Р</b>
                <button title="Добавить в корзину" type="button" class="btn btn-light form-control" style="background-color: rgba(255, 255, 255, 0); border-color: rgba(255, 255, 255, 0)"><span class="material-icons">
                        add_shopping_cart
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>