{% extends "base.html" %}
{% load static %}
{% block title%}ELVI-CREATE: {{ product.name }}{% endblock %}

{% block content%}
<!-- Demo styles -->
  <style>
    .swiper-container {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
    }
    .gallery-top {
      height: 80%;
      width: 100%;
      max-width: 330px;
    }
    .gallery-thumbs {
      height: 20%;
      max-width: 330px;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      height: 100%;
      max-width: 64px;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }
/* убирает стрелочки в input: */
    input[type='number'] {
    -moz-appearance:textfield;
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

  </style>

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-9 col-md-6"  style="min-height: 420px">
       <!-- Swiper -->
       <div class="swiper-container gallery-top">
         <div class="swiper-wrapper">
         	      {% for image_item in product.productimage_set.all %} <!--Все картинки связанные с этим товаром: _set.all (аналогично как filter в views.py)-->
                    <div class="swiper-slide img-fluid" style="background-image: url({{ image_item.image.url }})"></div>
                {% endfor %}
          </div>
                <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-white"></div>
          <div class="swiper-button-prev swiper-button-white"></div>
        </div>

        <div class="swiper-container gallery-thumbs">
          <div class="swiper-wrapper">
                {% for image_item in product.productimage_set.all %} <!--Все картинки связанные с этим товаром: _set.all (аналогично как filter в views.py)-->
                    <div class="swiper-slide" style="background-image: url({{ image_item.image.url }})"></div>
                {% endfor %}
          </div>
        </div>

      </div>
          
      <div class="col-12 col-sm-9 col-md-6">
        <h1 class="text-center">
          {{ product.name }}
        </h1>
        <div class="">
          <p>Цена: {{ product.price }} руб.</p>
        </div>
          
        <div>
          <form id="form_id_{{ product.id }}" class="form-inline form_buying_product" action="{% url 'basket_adding' %}">{% csrf_token %}
            <div class="form-group">
                <button title="Убавить" type="button" id="button_minus" class="btn btn-light form-control">-</button>
            </div>
            <div class="form-group">
                <input type="number" step="1" min="1" max="100" id="number" name="number" value="1" title="Количество" class="form-control text-center" style="padding: 6px; width: 44px;">
            </div>
            <div class="form-group">
                <button title="Добавить" type="button" id="button_plus" class="btn btn-light form-control">+</button>
            </div>
            <div class="form-group">
              <button id="btn_form_id_{{ product.id }}" type="submit" class="btn btn-success btn-buy"
                data-product_id = "{{ product.id }}"
                data-name = "{{ product.name }}"
                data-price = "{{ product.price }}"
                >Купить
              </button>
            </div>
          </form>
        </div>
                <!-- https://bootstrap-4.ru/docs/4.4/components/navs/ https://getbootstrap.com/docs/4.4/components/navs/-->
        <ul class="nav nav-tabs" id="myTab" role="tablist" style="
    padding-top: 10px;">
          <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-selected="true">
              Описание</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#stock" role="tab" aria-controls="profile" aria-selected="false">
              Наличие</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#delivery" role="tab" aria-controls="profile" aria-selected="false">
              Доставка</a>
          </li>
        </ul>

        <div class="tab-content product-description-tabs" style="min-height: 240px;">
          <div class="tab-pane active" id="description" role="tabpanel" aria-labelledby="home-tab">
              {{ product.description }}
          </div>
          <div class="tab-pane" id="stock" role="tabpanel" aria-labelledby="profile-tab">
              Здесь указывать наличие, добавив такой столбец в БД. Придумать условия отображения. Если значение больше 1 тогда "В наличии: ЗНАЧЕНИЕ", иначе "Под заказ".
          </div>
          <div class="tab-pane" id="delivery" role="tabpanel" aria-labelledby="profile-tab">
              Здесь описание доставки нужно написать единое для всех товаров, тянуть из базы наверное лишние
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- Swiper JS -->
  <script src="{% static 'js/swiper.min.js' %}"></script>

  <script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
      spaceBetween: 10,
      slidesPerView: 4,
      loop: false, //изменил на false чтобы не дублировать изображения снизу если их мало
      freeMode: true,
      loopedSlides: 5, //looped slides should be the same
      watchSlidesVisibility: true,
      watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
      spaceBetween: 10,
      loop:true,
      loopedSlides: 5, //looped slides should be the same
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      thumbs: {
        swiper: galleryThumbs,
      },
    });
  </script>

<script>
var numCount = document.getElementById('number');
var plusBtn = document.getElementById('button_plus');
var minusBtn = document.getElementById('button_minus');
  plusBtn.onclick = function() {
    var qty = parseInt(numCount.value);
    qty = qty + 1;
    numCount.value = qty;
}

  minusBtn.onclick = function() {
    var qty = parseInt(numCount.value);
    if (qty>1) {
      qty = qty - 1;
    } else {
      qty = 1
    }
    numCount.value = qty;
}
</script>


{% endblock %}