<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


<!--footer starts from here-->
<footer class="footer">
    <div class="container">
        <ul class="social_footer_ul">
            <li><a href="https://t.me/elvi_levanova"><i class="fab fa-telegram-plane"></i></a></li>
            <li><a href="https://www.instagram.com/elvi_create/"><i class="fab fa-instagram"></i></a></li>
        </ul>

        <div class="copyrights">
            <p class="text-center">© 2020 | Designed by <a href="https://t.me/AgasgG" class="copyrights">AgasgG</a> for portfolio</p>
        </div>
    </div>

</footer>