<footer>
    <div class="social">
        <ul>
            <li><a href="https://www.instagram.com/?hl=ru" target="_blank" class="instagram">instagram</a></li>
            <li><a href="https://www.youtube.com/" target="_blank" class="youtube">youtube</a></li>
            <li><a href="https://t.me/AgasgG" target="_blank" class="telegram">telegram</a></li>
            <li><a href="mailto:agasgg@email.com" target="_blank" class="email">email</a></li>
        </ul>
    </div>
    <div class="copyrights">
        <span>© 2020, first site of AgasgG</span>
    </div>
</footer>