{% extends "base.html" %}

{% block title%}Home{% endblock %}

{% block content%}

<div class="general-container">
    <div class="container top-container">
        <div class="row justify-content-center">
            <div class="col-md-auto col-sm-auto">
                <h1 class="title">Наш магазин скоро откроется!<br>
                Оставляйте Ваш e-mail в форме ниже</h1>
                    <form action="" method="POST" class="form-inline text-center">
                        {% csrf_token %} <!--Обязательный для Джанго токен, служит для безопасности, защищая от DDos-->
                        <div class="form-group col-sm-6 col-md-auto">
                            <br>
                            <label>Ваше имя: </label>
                            <br>
                            <input type="text" name="{{ form.name.name }}" class="form-control">
                            <br>
                        </div>
                        
                        <div class="form-group col-sm-6 col-md-auto">
                            <br>
                            <label>Ваш e-mail: </label>
                            <br>    
                            <input type="email" name="{{ form.email.name }}" class="form-control">
                            <br>
                        </div>
                        <!--{{ form.as_p }} добавляет форму на страницу. ".as_p" отображает каждое поле формы на новой строке-->
                        <div>
                            <div class="col-sm-6 col-md-6">
                                <button type="button" class="btn btn-primary btn-color">Подписаться</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

<!--
 <h4>Сегодня: {{ current_day }}<br>
     Время: {{ current_time }} </h4>
-->
{% endblock %}