<!--
<nav class="navbar navbar-expand-lg navbar-light navbar-top" style="background-color: #fff; position: fixed;  z-index: 7;   width: 100%;   height: 55px;">
    <ul class="navbar-nav mr-auto">
      <a class="navbar-brand" href="/">ELVI CREATE</a>
    </ul>
    <form class="form-inline">
        <div class="basket-container">
            <a class="btn btn-outline-success" href="#" onclick="return false" type="button">Корзина <span class="basket_total_nmb">
                -->
                <!---<span id="basket_total_nmb" заменен на код выше, чтобы JS отрабатывал дважды>--> <!--
            {% if products_total_nmb %}
              ({{ products_total_nmb }})
            {% else %}
              (0)
            {% endif %}
            </span>
            </a>

            <div class="basket-items d-none d-sm-none">
                <ul class="list_cart">
                    {% for product_in_basket in products_in_basket%}
                      <li>
                          <a href="" class="delete-item" data-product_id="{{ product_in_basket.id }}"><b>[ X ]</b></a>
                          {{ product_in_basket.product.name }}: {{ product_in_basket.nmb }}шт.
                            по {{ product_in_basket.price_per_item }}руб.
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
</nav>
-->
<div style="height: 55px"></div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="z-index: 8; position: fixed; top: 0px; width: 100%;">
    <button class="navbar-toggler layer1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand layer2 d-none d-sm-none" href="#" id="up">ELVI CREATE</a>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto layer1">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            Главная <span class="sr-only">(current)</span></a>
        </li>
          <!--
        <li class="nav-item">
          <a class="nav-link" href="/index">
            Opening soon</a>
        </li>
        -->
          <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="?" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Товары
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item bg-white text-secondary" href="#">
                Блокноты
            </a>
            <a class="dropdown-item bg-white text-secondary" href="#">
                Планеры</a>
            <a class="dropdown-item bg-white text-secondary" href="#">
                Аксессуары
            </a>
          </div>
        </li>
          --->
        <li class="nav-item">
          <a class="nav-link" href="/about">
            О проекте</a>
        </li>
      </ul>
      
      <!--
      ПОИСК
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
    </div>
<!---
    <form class="form-inline">
        <div class="basket-container">
            <a class="btn btn-outline-success" href="#" onclick="return false" type="button">Корзина <span id="basket_total_nmb">
            {% if products_total_nmb %}
              ({{ products_total_nmb }})
            {% else %}
              (0)
            {% endif %}
            </span>
            </a>
            <div class="basket-items d-none d-sm-none">
                <ul class="list_cart">
                    {% for product_in_basket in products_in_basket%}
                      <li class="li-item">
                          <a href="" class="delete-item" data-product_id="{{ product_in_basket.id }}"><b> ✗</b></a>
                          {{ product_in_basket.product.name }}: {{ product_in_basket.nmb }}шт.
                            по {{ product_in_basket.price_per_item }}руб.
                      </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </form>
--->
    <form class="form-inline" style="margin-right: 65px;">
        <div class="basket-container">
            <div class="btn-group btn-group-toggle" style="height: 40px;">

                <label title="В корзине" class="btn btn-outline-success" style="width: 128px;">Корзина <span id="basket_total_nmb">
                {% if products_total_nmb %}
                  ({{ products_total_nmb }})
                {% else %}
                  (0)
                {% endif %}
                    </span>
                </label>
                <label class="btn btn-success">
                    <a class="tocheck" href="/checkout"><span title="Перейти в корзину" class="material-icons">shopping_cart</span></a>
                </label>
            </div>

            <div class="basket-items d-none d-sm-none">
                    <ul class="list_cart">
                        {% for product_in_basket in products_in_basket%}
                          <li class="li-item">
                              <a href="" class="delete-item" data-product_id="{{ product_in_basket.id }}"> <span title="Удалить из корзины" class="material-icons">remove_shopping_cart</span></a>
                              {{ product_in_basket.product.name }}: {{ product_in_basket.nmb }}шт.
                                по {{ product_in_basket.price_per_item }}руб.
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
    </form>

</nav>