<nav class="navbar navbar-expand-lg navbar-top">
topchik
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Levelvi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">
            Главная <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index">
            Opening soon</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Товары
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">
                Блокноты
            </a>
            <a class="dropdown-item" href="#">
                Открытки</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                Коты
            </a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">
              Выйти нельзя</a>
        </li>
      </ul>
      <form class="form-inline">
        <div class="basket-container">
            <a class="btn btn-outline-success" href="#" type="button">Корзина <span id="basket_total_nmb">
            {% if products_total_nm %}
              ({{ products_total_nmb }})
            {% else %}
              (0)
            {% endif %}
            </span></a>
                <div class="basket-items d-none d-sm-none">
                    <ul class="list_cart">
                    {% for product_in_basket in products_in_basket%}
                      <li>
                        {{ product_in_basket.product.name }}: {{ product_in_basket.nmb }}шт. 
                        по {{ product_in_basket.price_per_item }}руб.
                        <a href="" class="delete-item" data-product_id="{{ product_in_basket.id }}"><b>[x]</b></a>
                      </li>
                    {% endfor %} 
                    </ul>
                </div>
        </div>

      </form>
      
      <!--ПОИСК
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
    </div>
  </nav>